{% load static %}
<!-- Header -->
<div class="header">
	<!-- Logo -->
	<div class="header-left active">
		<a href="{% url 'billing:dashboard' %}" class="logo logo-normal">
			<img src="{% static 'asset/images/ARK_logo-01.png' %}" alt="" />
		</a>
		<a href="{% url 'billing:dashboard' %}" class="logo logo-white">
			<img src="{% static 'asset/images/ARK_logo-02.png' %}" alt="" />
		</a>
		<a href="{% url 'billing:dashboard' %}" class="logo-small">
			<img src="{% static 'asset/images/ARK_logo-01.png' %}" alt="" />
		</a>

		<a id="toggle_btn" href="javascript:void(0);">
			<i data-feather="chevrons-left" class="feather-16"></i>
		</a>
	</div>
	<!-- /Logo -->

	<a id="mobile_btn" class="mobile_btn" href="#sidebar">
		<span class="bar-icon">
			<span></span>
			<span></span>
			<span></span>
		</span>
	</a>

	<!-- Header Menu -->
	<ul class="nav user-menu justify-content-end me-4">
		<!-- Maximize -->
		<li class="nav-item nav-item-box">
			<a href="javascript:void(0);" id="btnFullscreen">
				<i data-feather="maximize"></i>
			</a>
		</li>
		<!-- Maximize -->
		<!-- theme -->
		<li class="nav-item nav-item-box">
			<a id="themeToggle" class="" onclick="toggleTheme()">
				<i data-feather="sun"></i>
			</a>
		</li>
		<!-- theme -->

		<!-- User -->
		<li class="nav-item dropdown has-arrow main-drop">
			<a href="#" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
				<span class="user-info">
					<span class="user-letter">
						<img
							src="{% static 'asset/images/ARK_logo-01.png' %}"
							alt=""
							class="img-fluid"
						/>
					</span>
					<span class="user-detail">
						<span class="user-name">ARK</span>
						<span class="user-role">Agency</span>
					</span>
				</span>
			</a>
			<div class="dropdown-menu menu-drop-user">
				<div class="profilename">
					<form action="{% url 'billing:logout' %}" method="post">
						{% csrf_token %}
						<a class="dropdown-item logout pb-0" href=""
							><img
								src="https://dreamspos.dreamstechnologies.com/html/template/assets/img/icons/log-out.svg"
								class="me-2"
								alt="img"
							/>
							<button style="border: none; outline: none; background: transparent;">Logout</button>
							</a
						>
					</form>
				</div>
			</div>
		</li>
		<!-- User -->
	</ul>
	<!-- /Header Menu -->

	<!-- Mobile Menu -->
	<div class="dropdown mobile-user-menu">
		<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
			><i class="fa fa-ellipsis-v"></i
		></a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="dropdown-item" href="{% url 'billing:logout' %}">Logout</a>
		</div>
	</div>
	<!-- /Mobile Menu -->
</div>
<!-- /Header -->
